@using Microsoft.AspNetCore.Identity
@using PeakPals_Project.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@model Climber


@{
    string email = User.Identity?.Name ?? null;
    string username = email != null ? email.Split('@')[0] : null;
}

<body id="profile-body">

    <div class="profile-box justify-context-center flex-nowrap">
        <div class="container">
            <h1 class="display-name text-warning">Edit Profile</h1>
            <form method="post" class="EditProfileForm">
                <div class="form-group my-3">
                </div>
                <div class="form-group my-3">
                    <label asp-for="ImageLink" class="text-white">Image Link</label>
                    <input type="text" asp-for="ImageLink" class="form-control text-black" id="input-color" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="CustomLink" class="text-white">Custom Link</label>
                    <input type="text" asp-for="CustomLink" class="form-control text-black" id="input-color" placeholder="https://www.youtube.com/"/>
                </div>
                <div class="form-group my-3">
                    <label asp-for="LinkText" class="text-white">Link Text</label>
                    <input type="text" asp-for="LinkText" class="form-control text-black" id="input-color" placeholder="Check out my Youtube!" pattern="[A-Za-z\s]* />
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="form-group my-3">
                            <label asp-for="FirstName" class="text-white">First Name</label>
                            <input type="text" asp-for="FirstName" class="form-control text-black" pattern="[A-Za-z\s]*"
                                title="Letters only" id="first-name-form-field" />
                        </div>

                    </div>
                    <div class="col-lg">
                        <div class="form-group my-3">
                            <label asp-for="LastName" class="text-white">Last Name</label>
                            <input type="text" asp-for="LastName" class="form-control text-black" pattern="[A-Za-z\s]*"
                                title="Letters only" id="input-color" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="form-group my-3">
                            <label asp-for="City" class="text-white">City</label>
                            <input type="text" asp-for="City" class="form-control text-black" pattern="[A-Za-z\s]*"
                                title="Letters only" id="city-form-field" />
                        </div>

                    </div>
                    <div class="col-lg">
                        <div class="form-group my-3">
                            <label asp-for="State" class="text-white">State</label>
                            <input type="text" asp-for="State" class="form-control text-black" pattern="[A-Za-z\s]*"
                                title="Letters only" id="input-color" />
                        </div>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Age" class="text-white">Age</label>
                    <input type="number" min="1" max="100" asp-for="Age" class="form-control text-black" id="age-form-field" />
                </div>
                <div class="form-group my-3">
                    <label asp-for="Bio" class="text-white">Bio</label>
                    <textarea asp-for="Bio" class="form-control bio-textarea text-black" rows="5" maxlength="1600"
                        id="input-color"></textarea>
                </div>
                <button class="btn btn-outline-warning my-2" type="submit" id="submit-btn">Submit</button>
                <a button class="btn btn-outline-light my-2" asp-controller="Profile" asp-action="GetProfile"
                    asp-route-username="@username">Cancel</a>
            </form>
        </div>
    </div>
</body>

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css">
}
