<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Peak Pals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PeakPals_Project.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Battambang:wght@100;300;400;700;900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Quando&family=Rufina:wght@400;700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src='https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/turf.min.js"></script>
    <script src="~/lib/lazysizes.min.js" async=""></script>
    @RenderSection("Styles", required: false)

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-toggleable-sm navbar-dark bg-black box-shadow mb-3"
            id="navbar-options">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Peak Pals</a>
                </button>
                <ul class="navbar-nav flex-grow-1" id="navbar-nav-options" style="display: flex; flex-direction: row;">
                    <li class="nav-item" id="nav-item">
                        <div style="display: flex; align-items: center;">
                            <img src="~/images/pencil-icon.svg" alt="Icon description" class="icon-class d-none d-sm-block" />
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Record" asp-action="Record">Record</a>
                        </div>
                        <div class="box3 d-block d-sm-none"></div>
                    </li>
                    <li class="nav-item" id="nav-item">
                        <div style="display: flex; align-items: center;">
                            <img src="~/images/analysis-icon.svg" alt="Icon description" class="icon-class d-none d-sm-block" />
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Report" asp-action="Report">Analysis</a>
                        </div>
                        <div class="box3 d-block d-sm-none"></div>
                    </li>
                    <li class="nav-item" id="nav-item">
                        <div style="display: flex; align-items: center;">
                            <img src="~/images/location-icon.svg" alt="Icon description" class="icon-class d-none d-sm-block" />
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Locations" asp-action="Search">Locations</a>
                        </div>
                        <div class="box3 d-block d-sm-none"></div>
                    </li>
                    <li class="nav-item" id="nav-item">
                        <div style="display: flex; align-items: center;">
                            <img src="~/images/community-icon.svg" alt="Icon description" class="icon-class d-none d-sm-block" />
                            <a class="nav-link nav-link-color" asp-area="" asp-controller="Community" asp-action="Index">Community</a>
                        </div>
                        <div class="box3 d-block d-sm-none"></div>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer> -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
