@{
    ViewData["Title"] = "Report Page";
}

<body id="report-body">
    <div class="text-center" id="report-div">
        <h1 class="display-4 text-white welcome">See your performance</h1>

        <button class="nav-buttons" id="history-button"><a class="nav-link active" id="history-tab" data-toggle="tab" href="#test-history">History</a></button>
        <button class="nav-buttons" id="analysis-button"><a class="nav-link" id="analysis-tab" data-toggle="tab" href="#test-analysis">Analysis</a></button>

        <div id="test-history">
            <div class="container">

                @{
                    var tests = new[]
                    {
                new { Name = "Hang", id = "hang" },
                new { Name = "Pull", id = "pull" },
                new { Name = "Hammer Curl", id = "hammerCurl" },
                new { Name = "Hip Flexibility", id = "hipFlexibility" },
                new { Name = "Hamstring Flexibility", id = "hamstringFlexibility" },
                new { Name = "Repeater", id = "repeater"},
                new { Name = "Smallest Edge", id = "smallestEdge" },
                new { Name = "Campus Board", id = "campusBoard" },
                };
                }

                <div class="row">
                    @foreach (var test in tests)
                    {
                        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="history-card">
                                <h2 class="text-white text-center">@test.Name</h2>
                                <div class="history-graph-div" id="@test.id-test-graph"></div>
                                <div class="history-table-div" id="@test.id-test-table"></div>
                                <div class="history-results-div" id="@test.id-test-results"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div style="display: none;" id="test-analysis">
            analysis
            <div id="filter-form"></div>
        </div>

    </div>
</body>

@section Scripts {
    <script src="~/js/report.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/report.css">
}