#community-group-card {
    margin: 40px;
    margin-top: 100px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #ffa500
}

h1 {
    font-family: "Sriracha", cursive;
    color: #ffa500;
    font-size: 4em;
}

p {
    font-family: "Sriracha", cursive;
    color: #ffffff;
    font-size: 1.5em;
    word-wrap: break-word;
}

#group-name-header{
    margin: 10px;
    padding: 10px;
    border-top: 1px solid #ffa500;
    border-bottom: 1px solid #ffa500;
}

#group-body{
    height: 150px;
    margin: 20px;
}

#community-group-body{
    height: auto;
    background-image: url(../images/rockclimbing6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#group-footer{
    margin: 10px;
}

#community-group-button{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffa500;
    border-radius: 5px;
    background-color: #ffa500;
    color: #000000;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
}

#members-text{
    cursor: pointer;
    color: #ffffff;
    
}

#members-text:hover{
    color: #ffa500;
}

.modal-content{
    background-color: #000000;
    color: #ffa500;
    border-radius: 10px;
    border: 2px solid #ffa500;
}

.modal-title{
    font-family: "Sriracha", cursive;
    font-size: 2.5em;
}

.modal-header{
    text-align: center;
    margin: auto;
    border: none;
}

#member-list{
    margin: 10px;
    padding: 10px;
    font-family: "Sriracha", cursive;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}

table{
    margin: auto;
}

td{
    padding: 10px;
}

#modalCancelButton{
    background-color: #090909;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    margin-left: 20px;
    color: #ffffff;
}


#modalConfirmButton{
    background-color: #ffa500;
    border: 1px solid #ffa500;
    border-radius: 5px;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    margin-left: 20px;
    color: #000000;
}

.modal-footer{
    border: none; 
    text-align: center;
}

#new-owner-select{
    margin: auto;
    font-family: "Sriracha", cursive;
    border: 1px solid #ffa500;
    border-radius: 5px;
    color: #000000;
}