#community-group-card {
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffa500;
    box-shadow: black 0px 0px 10px;
}

h1 {
    font-family: 'Quando', serif;
    color: #ffa500;
    font-size: 4em;
}

p {
    font-family: 'Quando', serif;
    color: #ffffff;
    font-size: 1.5em;
    word-wrap: break-word;
}

#group-name-header{
    margin: 10px;
    padding: 10px;
    border-top: 1px solid #ffa500;
    border-bottom: 1px solid #ffa500;
}
@media (max-width: 600px) {
    #group-name-header {
        font-size: 50%;
    }
    #description-text {
        font-size: 50%;
    }
    #community-group-button{
        width: 100px;
        font-size: 0.75em !important;
        height: 50px;
        padding: 5px;
    }
}

#group-body{
    height: 150px;
    margin: 10px;
}

#community-group-body{
    height: auto;
    background-image: url(../images/background_image_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quando', serif;
}


#member-box
{
    padding: 5px;
    margin-left: 0em;
    margin-right: 0em;
    box-shadow: 2px 2px 2px 2px black;
    background: rgb(56, 28, 28);
    border-radius: 5px;
}

#community-group-button{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffa500;
    border-radius: 5px;
    background-color: #f19114;
    color: #e0e2e5;
    text-shadow: black 2px 2px 2px;
    font-family: 'Quando', serif;
    font-size: 1.5em;
}
#community-group-button:hover{
    border-color: white;
    background-color: #ffa500;

}

#climbing-log-text {
    text-shadow: 2px 2px 10x white !important;
    padding-top: 4px;
}

#logs-header {
    background-color: #ef8d04;
}

#messageModal{
    font-family: "Quando", serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(12, 12, 12, 0.80);
}

#member-content {
    font-family: "Quando", serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(12, 12, 12, 0.80);

}


#members-text{
    cursor: pointer;
    color: #ffffff;
    
}

#card-comments {
    border-radius: 10px !important; 
    box-shadow: 2px 2px 2px 10px white !important;
}

#members-text:hover{
    color: #ffa500;
}

.modal-content{
    background-color: #000000;
    color: #ffa500;
    border-radius: 10px;
    border: 2px solid #ffa500;
    font-family: "Quando", serif;
}

.modal-title{
    font-family: "Quando", serif;
    font-size: 2.5em;
}

.modal-header{
    text-align: center;
    margin: auto;
    border: none;
}

#member-list{
    margin: 10px;
    padding: 10px;
    font-family: "Sriracha", cursive;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
}

table{
    margin: auto;
}

td{
    padding: 10px;
}

#modalCancelButton{
    background-color: #090909;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    margin-left: 20px;
    color: #ffffff;
}


#modalConfirmButton{
    background-color: #ffa500;
    border: 1px solid #ffa500;
    border-radius: 5px;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    margin-left: 20px;
    color: #000000;
}

.modal-footer{
    border: none; 
    text-align: center;
}

#new-owner-select{
    margin: auto;
    font-family: "Sriracha", cursive;
    border: 1px solid #ffa500;
    border-radius: 5px;
    color: #000000;
}