/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

body {
    background-color: #262626;
    color: white;
}

a, p {
    color: #ffffff !important;
    text-shadow: 1px 1px 2px black;
}


.alert {
    background-color: #ffa500;
    
}

.alert-success {
    color: white;
    text-shadow: 1px 1px 2px black;
}

a:hover {
    color: rgb(255, 217, 175)
}

:is(h1, h2, h3, h4, h5, h6) {
    color: white;
    font-family: "Sriracha", cursive;
}

.btn-primary {
    color: #fff;
    background-color: #ffa500;
    border-color: rgb(255, 217, 175);
}

.btn-primary:hover {
    background-color: #e69502;
    color: rgb(255, 217, 175);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav .nav-link .nav-link-box-text {
    color: #ffa500;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffa500;
    border-color: rgb(255, 217, 175);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

label[for="Input_RememberMe"] {
    color: white;
}

.form-control,
.form-control:disabled {
    background-color: #ffffff;
}

.form-floating {
    color: #000000;
}
