


#area-body
{
  background-image: url('../images/background_image.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: repeat;
  margin-left: auto;
  margin-right: auto;
}


.welcome-locations {
    /*font-style:oblique; */
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 3.5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    text-shadow: black 2px 2px 2px;
  
}

#locations-validation-warning
{
    font-family: "Sriracha", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    color: red;
}

.open-search-btn
{
    background-color: #ffffff;
    width: 12em;
    height: 3em;
    font-family: "Sriracha", cursive;
    font-weight: 500;
    border-radius: 30px;
    font-size: 1.8em;
}

.welcome-box
{
    padding: 1px;
    height: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 3px;

}

.search-circle
{
    padding: 3px;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgb(251, 243, 232);

}

.modal-header
{
    background-color: rgb(255, 162, 0);
    border-radius: 5px;
}

.modal-content
{
    background-color: white;
    border-radius: 10px;
}

#search-input
{
    width: 80%;
    margin-left:10px;
    border-radius: 10px;
    background-color: rgb(251, 243, 232);
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}

.search-category
{
    font-family: "Sriracha";
}

#area-block-top
{
    height: 0.33em;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 3em;
    font-family: "Sriracha";
}

#area-block-bot
{
    height: 0.85em;
    padding: 1.8em;
    padding-top: 2.7em;
    font-family: "Sriracha";
}

.ancestors
{
    font-size: 0.86em;
}

#area-name
{
    font-size: 1.5em;
    padding-left: 1em;
}

#pages-title-name
{
    font-family: "Sriracha";
    font-weight: 300;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

#areas-ancestor-links a {
    text-decoration: none; /* Removes the underline */
    color: orange; /* Changes the color to black */
    font-style: "Sarala", sans-serif;
    
}

#climbs-ancestor-links a {
    text-decoration: none; /* Removes the underline */
    color: orange; /* Changes the color to black */
    font-style: "Sarala", sans-serif;
    
}

#areas-ancestor-links a:hover {
    color: white; /* Changes the color to gray when the link is hovered over */
}

#pages-description
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pages-category
{
    font-size: 1.6em;
}

.pages-description-text
{
    font-size: 1.1em;
}

.custom-card
{
    margin: 0.7em;
    height: 6em;
    width: 17em;
}

.card-descript
{
    font-family: "Sarala", sans-serif;
    text-shadow: black 2px 2px 2px;
    color: white;
}

.card-title
{
    font-family: "Sarala", sans-serif;
    font-size: 1.2em;
}

#locations-pages-box
{
    background-color: rgba(12, 12, 12, 0.80);
    padding: 3em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    margin-top: 1em;
    margin-bottom: 2.5em;
    border-radius: 5px;
    box-shadow: black, 10px, 10px, 10px;
    color: rgb(227, 227, 227);

}

#card-rows
{
    margin-left: 4em;
}

#static-map
{
    height: 350px;
    width: 400px;
    border-radius: 8px;
    border-style: ridge;
    border-color:orange;
}

.maplibregl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#dynamic-map
{
    height: 1000px;
    width: 150%;
    left: 0;
    right: 0;
    margin-left: -25%;
    margin-right: 0;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}

#dynamic-map-climb
{
    height: 1000px;
    width: 150%;
    left: 0;
    right: 0;
    margin-left: -25%;
    margin-right: 0;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}

#noHoverButton {
    background-color: #007bff !important;
    border-color: #007bff !important;
    border-radius: 4px !important;
    padding: 0.3em;
    padding-right: 1.5em;
    padding-left: 1.5em; 
    border-style: solid !important;
    box-shadow: none !important;
}

.image-container {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    object-fit: scale-down;
}

#area-images
{
    border: 0.5em solid black;
}

@media (max-width: 1400px)
{
    .welcome-locations {
        /*font-style:oblique; */
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        text-shadow: black 2px 2px 2px;
      
    }

    .open-search-btn
    {
        font-size: 1em;
    }
}

@media (max-width: 600)
{
    #card-rows
    {
        margin-left: 0;
    }
        
}