
#profile-body {
    background-image: url('../images/rockclimbing1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    height: 140vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 992px) {
    .profile-box {
        height: 95vh;
    }
}

@media screen and (max-width: 991px) {
    .profile-box {
        height: 115vh;
    }
}

#joinedCommunityGroupsHeader{
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#joinedCommunityGroupsDiv{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 white;
}


.joinedGroupLink{
    text-decoration: none;
    color: black;
    font-family: "Sriracha", cursive;
}

.joinedGroupLink:hover{
    color: white;
}

.joinedCommunityGroup{
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    color: #ffa500;
    margin: 20px;
    text-align: center;
    background-color: #ffa500;
    border-radius: 10px;
    border: 2px solid #000000;

}

.profile-box {
    width: auto;
    padding: 20px;
    background-color: black;
    background-image: linear-gradient(-225deg,black,rgb(10, 5, 1) 40%,#110801 65%,#0f0800 100%); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 #ffa500;

}

.link-text{
    color: #ffa500;
    font-family: "Sriracha", cursive;
    text-decoration: none;
}

.bio-textarea {
    max-height: 300px; /* Adjust this value as needed */
    overflow-y: auto;
}

.profile-image {
    width: 75%;
    height: 75%;
    margin-bottom: 0;
    border-radius: 50%;
}

.display-name {
    margin: 20px 0 10px;
    font-size: 2em;
    font-weight: bold;
    font-family: "Rock Salt", cursive;
}

.bio {
    font-size: 1em;
    margin: 20px 0 10px;
    font-family: "Sriracha", cursive;
}

#edit-btn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Sriracha", cursive;
}

#btn-tabs {
    width: 100%; 
    font-size: 1.5em; 
    border-radius: 0px;   
}

#btn-tabs:hover {
    color: rgb(255, 217, 175) !important;
    box-shadow: 0 4px 8px 0 #ffa500;
}

#input-color {
    background-color: silver;
}


.form-group
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1800px)
{
   
    
    .bio {
        font-size: 1.25em;
    }

    .display-name {
        font-size: 3em;
    }
}

@media (max-height: 800px)
{
    .bio-textarea {
        max-height: 140px; 
        overflow-y: auto;
    }
}