#report-tab-content{
    background-color: white;
    
}

#history-tab{
    color: white;
    font-size: larger;
    font-family: "Sriracha", cursive;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

#analysis-tab{
    color: white;
    font-size: larger;
    font-family: "Sriracha", cursive;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.nav-item{
    font-size: 1.5em;
    font-family: "Sriracha", cursive;
}

.nav-buttons{
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    border: 2px solid #ffa500;
    width: 130px;
    height: 60px;
    background-color: black;
    font-size: 1.5em;
}

#filterButtonSubmit{
    background-color: #ffa500;
    color: black;
    border: 1px solid black;
    font-family: "Sriracha", cursive;
}   

.deleteButton{
    border: 1px solid black;
    font-family: "Sriracha", cursive;
    border-radius: 5px;
}

.history-card{
    background-color: #000000;
    border: 3px solid #ffa500;
    border-radius: 15px;
    margin: 5px;
}

.history-results-div{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
.history-graph-div{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.history-graph-div img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.record-button{
    background-color: #ffa500;
    color: black;
    border: 1px solid black;
    font-family: "Sriracha", cursive;
    border-radius: 5px;

}

.record-button:hover{
    background-color: #ffc250;
}

.history-table-div{
    border-radius: 20px;
    padding: 15px;
}

.container{
    padding: 0px;
}

.history-table-div table {
    font-size: 0.85em;
}

td{
    padding: 0px;
    width: 0px;
}

tbody{
    padding: 0px;
}

tr{
    border: none;
}

.table>:not(caption)>*>* {
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
}

.history-card{
    height: 98%;
}

.col-xl-3{
    margin-bottom: 20px;
    padding-top: 200px;
}

.col-lg-4{
    margin-bottom: 20px;
    padding-top: 200px;
}

.col-md-6{
    margin-bottom: 20px;
    padding-top: 200px;
}

.col-xs-12{
    margin-bottom: 20px;
    padding-top: 40px;
}

.active-tab{
    background-color: rgb(51, 51, 51);
}

#orange-highlight{
    color: #ffa500;
}

p{
    font-family: "Sriracha", cursive;
    color: white;
}

#higher-score{
    color: rgb(0, 255, 0);
}

#lower-score{
    color: rgb(255, 0, 0);
}

#same-score{
    color: rgb(255, 255, 0);
}

.orange-text{
    color: #ffa500;
}

.recent-test{
    width: 100%;
    overflow: auto;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.average-test{
    width: 100%;
    overflow: auto;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.filter-form-block{
    padding: 0px;
    margin: 0px;
}

.modal-row{
    padding: 0px;
    margin: 0px;
}

.form-cell{
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 10px;
}

#filter-form{
    background-color: #000000;
    border: 3px solid #ffa500;
    border-radius: 15px;
    padding: 10px;
    margin: 0px;
}

.modal-body{
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
}
.form-control{
    text-align: center;
}
.modal-content{
    border-radius: 15px;
    padding: 0px;
    margin: auto;
    
}

#modal-header-text{
    font-family: "Sriracha", cursive;
    color: white;
    padding: 10px;
    font-size: 3em;
}

.modal-dialog{
    max-width: 800px;
    padding-top: 15%;
}

.welcome{
    margin-top: 50px;
}

.modal-label-text{
    font-family: "Sriracha", cursive;
    color: white;
    font-size: 1.1em;
    height: 40px;
}

#filterButtonSubmit{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 1.2em;
}

.fa-filter{
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    padding: 3px;
    padding-top: 6px;
}

#filter-button{
    background-color: #000000;
    color: black;
    border: 1px solid #ffa500;
    font-family: "Sriracha", cursive;
    border-radius: 5px;
}