html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  border: 0;
}

body {
  margin-bottom: 60px;
  margin: 0;
  border: 0;
}

#navbar-options {
  height: 6em;
  display: flex;
}

#navbar-nav-options {
  justify-content: flex-end;
}

.navbar-brand {
  margin-left: 6em;
  font-family: "Rock Salt", cursive;
  font-size: xx-large;

}

#nav-item {
  margin-right: 3em;
  font-family: "Sriracha", cursive;
  font-size: x-large;
}

#nav-item-custom {
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.nav-link-color {
  color: #ffa500 !important;
}

.nav-link-color:hover {
  color: rgb(255, 217, 175) !important;
}

.nav-link-box-text {
  color: #ffffff !important;
  font-family: "Sriracha";
  font-size: x-large;
}

.nav-link-box-text:hover {
  color: rgb(255, 217, 175) !important;
}


.box1 {
  background-color: #ffa500;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 4px 8px 0 rgb(248, 153, 0, 0.3);
  border-radius: 10px;

}

.box2 {
  background-color: #ffa500;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 4px 8px 0 rgb(248, 153, 0, 0.3);
  border-radius: 10px;
}

.box3 {
  background-color: #ffa500;
  padding: 3px;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgb(248, 153, 0, 0.3);
  border-radius: 10px;
}

.confirmation-popup {
  background-color: #ffa500;
  /* Change this to the color you want for the box */
  padding: 10px;
  /* Adjust this value to change the size of the box */
  margin: 5px 0;
  /* This adds some space above and below the box */
  box-shadow: 0 4px 8px 0 rgb(248, 153, 0, 0.3);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: large;
  font-family: "Sriracha", cursive;

}

.record-to-report-button {
  background-color: #ffa500;
  /* Change this to the color you want for the box */
  padding: 10px;
  /* Adjust this value to change the size of the box */
  box-shadow: 0 4px 8px 0 rgb(248, 153, 0, 0.3);
  border-radius: 10px;
  color: white !important;
  text-decoration: none;
  font-size: large;
}


#index-body {
  background-image: url('../images/rockclimbing2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#record-body {
  background-image: url('../images/rockclimbing3.jpg');
  /* Replace with the path to your image */
  background-size: cover;
  /* This will stretch the image to cover the entire element */
  background-repeat: no-repeat;
  /* This will prevent the image from repeating */
}

#report-body {
  background-image: url('../images/rockclimbing3.jpg');
  /* Replace with the path to your image */
  background-size: cover;
  /* This will stretch the image to cover the entire element */
  background-repeat: no-repeat;
  /* This will prevent the image from repeating */
}

.welcome {
  /*font-style:oblique; */
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 2.75em;
  margin-bottom: 6cm;
  font-size: 6.5em;
  text-shadow: black 2px 2px 2px;
}

.welcome-text {
  font-family: "Sriracha", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  text-shadow: black 4px 4px 4px;
}

#partial-nav-toggle-display {
  display: flex;
  flex-direction: row;
}

.icon-class {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}


#profile-text {
  margin-top: 19%;
}

#community-input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#community-validation-warning
{
  font-family: "Sriracha", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 1.75em;
  text-shadow: red 3px 3px 3px;
  color: white;
}


@media (min-width: 2100px)
/* This is for resolutions for any devices above 1080p */
  {
  #navbar-options {
    height: 7em;
  }

  .navbar-brand {
    font-size: 2.5em;
  }
}

@media (max-width: 2099px)
/* This is for monitors of resolution between 769p to 1080p */
  {
  #navbar-options {
    height: 6.5em;
  }


  @media (min-width: 1365px) {
    .welcome {
      font-size: 4.5em;
      margin-top: 2.5em;
      margin-bottom: 5cm;
    }

    .welcome-text {
      font-size: 1.75em;
    }
  }
}

@media (max-width: 1900px)
/* This is for monitors of resolution that aren't mobile but are no greater 768p  */
  {
  .welcome {
    font-size: 3.5em;
    margin-top: 2.25em;
    margin-bottom: 4cm;
  }


  .welcome-text {
    font-size: 1.75em;
  }

  #nav-item {
    margin-right: 2em;
    font-size: large;
  }

  .nav-link-box-text {
    color: #ffffff !important;
    font-size: medium;
  }

}

@media (max-width: 1700px)
/* This is for sizes below 1110px. */
{

  .navbar-brand {
    margin-left: 0;
    font-size: x-large;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  #nav-item-custom {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #profile-text {
    margin-top: 23%;
  }

}

@media (max-width: 1200px)
/* This is for larger mobile sizes */
{
  #navbar-options {
    height: 8em;
  }

  #nav-item {
    font-size: small !important;
  }

  .nav-link-box-text {
    font-size: small !important;
  }

  #profile-text {
    margin-top: 22%;
  }

}

@media (max-width: 454px)
/* This is for smalll mobile sizes */
{
  #nav-item {
    font-size: x-small !important;
  }

  .nav-link-box-text {
    font-size: xx-small !important;
  }

  .navbar-brand {
    font-size: large;
  }
}

