html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navbar-options {
  height: 6em;
  display: flex;
}

#navbar-nav-options {
  justify-content: flex-end;
}

.navbar-brand {
  margin-left: 8em;
}

#nav-item {
  margin-left: 3em;
}

#nav-item-custom {
  margin-left: 5em;
}

#index-body {
  background-image: url('../images/rockclimbing2.jpg'); /* Replace with the path to your image */
  background-size: cover; /* This will stretch the image to cover the entire element */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
}