@using PeakPals_Project.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model CommunityGroup

<body id="community-group-body">

    <div class="justify-context-center text-center bg-dark" id="community-group-card">
        <div class="container">
            <div class="row my-3">
                <div class="col" id="group-name-header">
                    <h1 class="text-white" style="font-family: 'Quando', serif; text-shadow: grey 2px 2px 2px;">
                        @Model.Name</h1>
                </div>
            </div>
            <div class="row my-3" id="group-body">
                <div class="col-md-5 col-lg-5 col-sm-12">
                    <p id="members-text" data-bs-toggle="modal" data-bs-target="#memberModal">Members: <span
                            id="member-count-span"></span> </p>
                    <button type="submit" id="community-group-button" class="btn" data-group-id="@Model.Id"></button>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12" id="description-text">
                    <p class="text-warning">Community Description:</p>
                    <p>@Model.Description</p>
                </div>
            </div>
            <hr class="bg-white">
            <br>
            <div class="container my-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div style="overflow-y: auto; height: 625px; overflow-x: hidden;">
                            <div class="container my-0 mx-0 py-0 px-0">
                                <div class="row">
                                    <div class="card bg-black" id="card-comments">
                                        <!-- if (messages != null) -->
                                        <div class="card-header bg-black my-2 flex justify-content-center"
                                            style="border-color: white; border-radius: 2px;">
                                            <h2 class="text-center text-white">Most Recent Comments</h2>
                                        </div>
                                        <div class="card-body text-body bg-white">

                                            <div id="comment-area">
                                                <!-- comments will be iteriated here -->
                                            </div>
                                        </div>

                                        <!-- else -->
                                        <div id="comment-else">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal"
                            data-bs-target="#createMessageModal">Add Comment</button>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div id="card climb-and-map" style="overflow-y: auto; height: 625px; overflow-x: hidden;">
                            <div class="container">
                                <div class="row">
                                    <div class="card-header" id="logs-header">
                                        <h2 class="text-center text-light" style="text-shadow: 2px 2px 2px black;"
                                            id="climbing-log-text">Climbing Logs</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <div id="display-log-list" class="log-list">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pagination-area" class="d-flex justify-content-center bg-dark"></div>
                    </div>
                </div>

                <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" id="member-content">
                            <h5 class="modal-title text-white" id="memberModalLabel">Members</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <div id="member-list"></div>

                                <button type="button" id="modalCloseButton" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" id="createMessageModal" tabindex="-1"
            aria-labelledby="createMessageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" id="messageModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageModalLabel">Leave a comment on this community</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5 d-flex align-items-center">
                        <div class="container">
                            <form id="comment-form">
                                <textarea id="comment-textarea" class="form-control" rows="7" maxlength="512"
                                    maxrows="20"></textarea>
                                <button type="submit" class="btn btn-primary mt-3"
                                    id="submitMessageButton">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<template id="comment-template">
    <div class="card-body p-4 text-dark">
        <div class="d-flex flex-start text-dark">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <p class="fw-bold mb-1 text-dark mr-auto p-2" id="comment-name">
                </p>
                <p class="mb-0 text-dark p-2" id="comment-date">
                    <!-- to-do possibly another time -->
                </p>
            </div>
            <p class="mb-0 py-2 text-black" id="comment-message">
                <!--- message.Message -->
            </p>
        </div>
    </div>
    <hr class="my-0" style="height: 1px;" />
</template>

<template id="else-template">
    <div class="card text-body">
        <h4 class="mb-0 py-3">No comments yet...</h4>
        <hr class="my-2" style="height: 1px;" />
    </div>
</template>

<template id="climb-log-template">
    <div class="row">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Climb: <h5 class="card-title mx-3 my-1 d-inline-block" id="climb-attempt-name"></h5>
                </strong>
                <a href="" class="btn btn-primary mt-3" id="climb-attempt-link-button">Go to Climb</a>
            </div>
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-6">
                        <strong>Climber:</strong>
                        <p class="card-text small d-inline-block text-primary" id="climb-attempt-climber-name"></p>
                        <br>
                        <strong>Date Climbed:</strong>
                        <p class="card-text small d-inline-block text-dark" id="climb-attempt-date"></p>
                    </div>
                    <div class="col-6">
                        <strong>Number of Attempts:</strong>
                        <p class="card-text d-inline-block text-warning" id="climb-attempt-attempts"></p>
                        <br>
                        <strong>Suggested Grade:</strong>
                        <p class="card-text d-inline-block text-danger" id="climb-attempt-grade"></p>
                    </div>
                </div>
                <div class="row pb-2">
                    <span><strong>Rating:</strong>
                        <p class="card-text d-inline-block text-dark" id="climb-attempt-rating"></p>
                    </span>
                </div>
                <div class="row pb-2">
                    <div class="col">
                        <strong>Tags:</strong>
                        <p class="card-text d-inline-block" id="climb-attempt-tags"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@section Scripts
{
    <script src="~/js/communityGroups.js" type="module"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/communityGroup.css">
    <link rel="stylesheet" href="~/css/site.css">
}