@using PeakPals_Project.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model CommunityGroup


<body id="community-group-body">

    <div class="justify-context-center text-center" id="community-group-card">
        <div class="container">
            <div class="row">
                <div class="col" id="group-name-header">
                    <h1>Owner of @Model.Name</h1>
                </div>
            </div>
            <div class="row" id="group-body">
                <div class="col">
                    <p id="members-text" data-bs-toggle="modal" data-bs-target="#memberModal"><span
                            id="member-count-span"></span> members</p>
                </div>
                <div class="col">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="row" id="group-footer">
                <div class="col">
                    <!-- <button type="submit" class="btn btn-warning" id="community-group-join-button"
                    style="border-radius: 5px;">Join</button> -->
                    <button type="submit" id="community-group-button" data-group-id="@Model.Id"></button>
                </div>
            </div>

            <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <h5 class="modal-title" id="memberModalLabel">Members</h5>
                        <div class="modal-body">
                            <div id="member-list"></div>

                            <button type="button" id="modalCloseButton" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @* Modal for the owner to select a new owner when they try to leave *@
            <div class="modal fade" id="newOwnerModal" tabindex="-1" aria-labelledby="newOwnerModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newOwnerModalLabel">Select a new owner</h5>
                        </div>
                        <div class="modal-body">
                            <select id="new-owner-select" class="form-select"></select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="modalCancelButton">Close</button>
                            <button type="button" class="btn btn-primary" id="modalConfirmButton">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background-color: black;">
                <div class="container my-5 py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-12 col-md-11 col-lg-10">
                            <!-- if (messages != null) -->

                            <div class="card text-body">
                                <h4 class="mb-0">Most Recent Comments</h4>
                                <hr class="my-4" style="height: 1px;" />
                                <div id="comment-area">
                                    <!-- comments will be iteriated here -->
                                </div>
                            </div>

                            <!-- else -->
                            <div id="comment-else">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal"
                        data-bs-target="#createMessageModal">Add Comment</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="createMessageModal" tabindex="-1"
        aria-labelledby="createMessageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Leave a comment on this community</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 d-flex align-items-center">
                    <div class="container">
                        <form id="comment-form">
                            <textarea id="comment-textarea" class="form-control" rows="7" maxlength="512"
                                maxrows="20"></textarea>
                            <button type="button" class="btn btn-primary mt-3" id="submitMessageButton">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<template id="comment-template">
    <div class="card-body p-4 text-dark">
        <div class="d-flex flex-start text-dark">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <p class="fw-bold mb-1 text-dark mr-auto p-2" id="comment-name">
                </p>
                <p class="mb-0 text-dark p-2" id="comment-date">
                    <!-- to-do possibly another time -->
                </p>
            </div>
            <p class="mb-0 py-2 text-black" id="comment-message">
                <!--- message.Message -->
            </p>
        </div>
    </div>
    <hr class="my-0" style="height: 1px;" />
</template>

<template id="else-template">
    <div class="card text-body">
        <h4 class="mb-0 py-3">No comments yet...</h4>
        <hr class="my-2" style="height: 1px;" />
    </div>
</template>

@section Scripts
{
    <script src="~/js/communityGroupsOwner.js" type="module"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/communityGroup.css">
    <link rel="stylesheet" href="~/css/site.css">
}
