<body id="community-index-body">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="user-search-div">
                    <div class="text-center">
                        <h1 class="display-4 text-white welcome-index my-5">Community Members</h1>
                        <div class="input-group" id="community-input" style="height: 3.5em;">
                            <input type="text" class="form-control custom-search" id="search-input"
                                aria-label="sizing example input" aria-describedby="inputGroup-sizing-default"
                                placeholder="Enter a Username to search for here!">
                            <button type="submit" class="btn btn-warning" id="search-button"
                                style="border-radius: 5px;">Search</button>
                        </div>
                        <div>
                            <p id="community-validation-warning"></p>
                        </div>
                    </div>

                    <div class="mt-3 py-3">
                        <div id="search-results" class="row g-0"
                            style="max-height: 500px; overflow-y: auto; width: 90%; margin: auto;">
                            @* JS will instantiate the template and put a bunch of them here.*@
                        </div>
                    </div>

                    <template id="results-template">
                        <div class="card" id="profiles-div">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img id="userImage" src="" width="250" height="250" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-center">
                                    <a href="#" id="profile-link"></a>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12">
                <div id="community-group-search-div">
                    <div id="joined-community-groups">
                        <div class="text-center">
                            <h1 class="display-4 text-white welcome-index my-0">Community Groups</h1>
                            
                        </div>
                        <div class="input-group my-4" id="community-group-input" style="height: 3.5em;">
                            <input type="text" class="form-control" id="community-group-search-input"
                                aria-label="sizing example input" aria-describedby="inputGroup-sizing-default"
                                placeholder="Search for Community Groups here!">
                            <button type="submit" class="community-buttons" id="community-group-search-button"
                                style="border-radius: 5px;">Search</button>

                        </div>
                        <div>
                            <p id="community-group-validation-warning"></p>
                        </div>
                    </div>
                    <div class="text-center">
                            <h2 class="text-white my-0" id="group-results-text" style="font-family: 'Quando', serif; text-shadow: 3px 3px 3px black"></h1>    
                    </div>
                    <div id="community-group-search-results" style="max-height: 300px; overflow-y: auto; overflow-x: hidden;"></div>
                    
                    <div class="text-center" style="margin-top: 4em;">
                            <h2 class="text-white my-1" id="joined-groups-text" style="font-family: 'Quando', serif; text-shadow: 3px 3px 3px black;"></h1>    
                    </div>
                    <div id="joined-groups" class="row g-0" style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                @* JS will instantiate the template and put a bunch of them here.*@
                    </div>
                    <div class="text-center">
                        <button type="submit" class="community-buttons bg-primary text-white"
                            id="community-group-create-button" data-bs-toggle="modal" data-bs-target="#createGroupModal"
                            style="border-radius: 5px;">Create a Community Group!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div id="community-page-break">
        <div class="text-center">
            <h1 class="display-4 text-white welcome my-5">Checkout Community Groups</h1>
        </div>
    </div>
    -->

    <template id="joined-community-group-template">
        <div class="card" id="community-group-div">
            <div class="row">
                <div class="col-3 d-flex align-items-center community-group-name">
                    <a id="group-link-name"></a>
                </div>
                <div class="col-9 d-flex flex-column justify-content-center community-group-description">
                    <a id="group-description"></a>
                </div>
            </div>
        </div>
    </template>

    <template id="community-group-template">
        <div class="card" id="community-group-div">
            <div class="row">
                <div class="col-4 d-flex align-items-center community-group-name">
                    <a id="group-link-name"></a>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center community-group-description">
                    <a id="group-description"></a>
                </div>
            </div>
        </div>
    </template>

    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <h5 class="modal-title new-font text-white" id="createGroupModalLabel">Create a Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <p id="createGroupValidation"></p>
                <div class="modal-body">
                    <form id="createGroupForm">
                        <div class="mb-3">
                            <label for="groupName" class="form-label new-font">Group Name</label>
                            <input type="text" class="form-control" id="groupName" name="groupName">
                        </div>
                        <div class="mb-3">
                            <label for="groupDescription" class="form-label new-font">Group Description</label>
                            <textarea class="form-control" maxlength="100" id="groupDescription" name="groupDescription"
                                rows="5"></textarea>
                        </div>
                        <button type="submit" id="create-group-button" class="btn btn-primary new-font">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>



@section Scripts
{
    <script src="~/js/community.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css">
    <link rel="stylesheet" href="~/css/site.css">
}
