

<div class="text-center">
    <h1 class="display-6 text-white welcome my-5">Search for Places to Rock Climb!</h1>
    <div class="input-group" id="community-input" style="height: 3.5em;">
        <input type="text" class="form-control" id="search-input" aria-label="sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Enter a Username here!">
        <button type="submit" class="btn btn-warning" id="search-button" style="border-radius: 5px;">Search</button>
    </div>
</div>
