@using PeakPals_Project.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<body id="search-body">
    <div class="text-center">

        <p class="text-white welcome-locations">Look for Rock Climbing Locations!</p>

        <button type="button" class="open-search-btn" id="searchModalButton" data-bs-toggle="modal"
            data-bs-target="#searchModal">Climbing Search
            <img src="~/images/search-icon.svg" alt="Icon description" class="icon-class" />
        </button>
    </div>

    @if (user != null && SignInManager.IsSignedIn(User))
    {
        <div id="climb-and-map" data-user="true">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <h2 class="text-center text-white">Climbing Logs</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div class="card bg-light d-flex justify-content-center">
                            <div class="card-header">
                                <h2 class="text-center text-dark">Regional Map Search</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div id="display-log-list" class="log-list" style="overflow-x: hidden;">
                        </div>
                        <div id="pagination-area" class="d-flex justify-content-center bg-dark"></div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div id="dynamic-map-search" class="my-3">
                            <p style="text-align: center; color: white;"></p>
                            <div id="dynamic-map" class="search-map" data-latitude="40.13665337358668" data-longitude="-95.46584201532418" data-id="1db1e8ba-a40e-587c-88a4-64f5ea814b8e" data-mode="2d" style="width: 625px; height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="climb-and-map" data-user="false">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <h2 class="text-center text-white" style="font-family: 'Quando', serif;">Climbing Logs</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div class="bg-light d-flex justify-content-center">
                            <div class="card-header" id="map-title-hide">
                                <h2 class="text-center text-dark" style="font-family: 'Quando', serif; text-shadow: 2px 2px 2px white;">Regional Map Search</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div id="display-log-list" class="log-list">
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <div id="dynamic-map-search" class="my-3">
                            <p style="text-align: center; color: white;"></p>
                            <div id="dynamic-map" class="search-map" data-latitude="40.13665337358668" data-longitude="-95.46584201532418" data-id="1db1e8ba-a40e-587c-88a4-64f5ea814b8e" data-mode="2d" style="width: 625px; height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Modal -->
    <div class="modal fade my-5" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="max-height: 85vh;">
            <div class="modal-content">
                <div class="modal-header" style="position: sticky; top: 0; z-index: 100;">
                    <div class="input-group d-flex align-items-center" id="locations-input"
                        style="height: 3.5em; width: 80%;">
                        <input type="text" id="search-input" aria-label="sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="Search for Areas here!" />
                        <div class="d-flex justify-content-center mx-2">
                            <button type="button" class="search-circle" id="search-button" class>
                                <img src="~/images/search-icon.svg" alt="Icon description" class="icon-class" />
                            </button>
                        </div>
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div id="loading-spinner" class="spinner-border text-warning" role="status"
                            style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                        <p id="locations-validation-warning"></p>
                    </div>
                    <div id="search-category-buttons">
                        <h3 class="mx-2 search-category">Search Filters</h3>
                        <button type="button" class="btn btn-dark text-white category-button" id="all-button"
                            style="width: 6em; font-size: 1.2em;">All</button>
                        <button type="button" class="btn btn-dark text-white category-button" id="areas-button"
                            style="width: 6em; font-size: 1.2em;">Areas</button>
                        <button type="button" class="btn btn-dark text-white category-button" id="climbs-button"
                            style="width: 6em; font-size: 1.2em;">Climbs</button>
                    </div>
                    <hr style="height: 2px; color: black;">
                    <h3 class="mx-2 search-category">Areas</h3>
                    <hr>
                    <div class="mt-3 py-3">
                        <div id="search-results-areas" class="row g-0">
                            <!-- JS will instantiate the template and put a bunch of them here. -->
                        </div>
                    </div>
                    <hr style="height: 2px; color: black;">
                    <h3 class="mx-2 search-category">Climbs</h3>
                    <hr>
                    <div class="mt-3 py-3">
                        <div id="search-results-climbs" class="row g-0">
                            <!-- JS will instantiate the template and put a bunch of them here. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="area-template">
        <div class="card" id="areas-div">
            <div class="row">
                <div class="col d-flex align-items-center" id="area-block-top">
                    <div id="ancestors-list"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 d-flex align-items-center" id="area-block-bot">
                    <p id="area-name"></p>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center">
                    <!-- climbing tags go here -->
                </div>
            </div>
        </div>
    </template>

    <template id="ancestors-template">
        <p id="area-ancestors" class="ancestors text-muted"></p>
    </template>

    <template id="climb-log-template">
        <div class="row">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Climb: <h5 class="card-title mx-3 my-1 d-inline-block" id="climb-attempt-name"></h5>
                        </strong>
                    <a href="" class="btn btn-primary mt-3" id="climb-attempt-link-button">Go to Climb</a>
                </div>
                <div class="card-body">
                    <div class="row pb-2">
                        <div class="col-6 border-right">
                            <strong>Date Climbed:</strong>
                            <p class="card-text small d-inline-block" id="climb-attempt-date"></p>
                            <br>
                            <strong>Suggested Grade:</strong>
                            <p class="card-text small d-inline-block" id="climb-attempt-grade"></p>
                        </div>
                        <div class="col-6">
                            <strong>Number of Attempts:</strong>
                            <p class="card-text d-inline-block" id="climb-attempt-attempts"></p>
                            <br>
                            <strong>Rating:</strong>
                            <p class="card-text small d-inline-block" id="climb-attempt-rating"></p>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col">
                            <strong>Tags:</strong>
                            <p class="card-text d-inline-block" id="climb-attempt-tags"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

</body>

@section Scripts
{
    <script type="module" src="~/js/site.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/locations.css">
}