@{
    ViewData["Title"] = "Home Page";
}

<body id="about-body">
    <div class="about-us-box justify-context-center flex-nowrap">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-12 text-white about-description">
                    <h1 class="text-light">About Us</h1>
                    <hr class="bg-warning">
                    <h3 class="text-warning">PeakPals: Giving rock climbers the edge they need!</h3>
                    <h6>PeakPals is an innovative web application designed to revolutionize the way climbers track their skills, give analysis on their performance, and the ability to search and log
                     attempts on a robust database of climbing locations. The app's core vision is to empower climbers of any level with analysis on their performance and progression relative to 
                     their demographics and skill level. Climbers will also have the ability to log their climbing attempts across a diverse range of climbs all found the website, finding the places 
                     that interest them, measuring their performance, and comparing their stats with others. PeakPals leverages both personal and communal data to provide actionable guidance for training 
                     and climbing decisions. As the community grows, so too will the app's capacity to refine and enhance its offerings, making it an indispensable tool for climbers seeking to elevate 
                     their performance and achieve their climbing goals. </h6>
                </div>
            </div>
            <div class="row align-items-start my-3">
                <div class="col-12 text-white fancy">
                    <h4>A Senior Capstone Project for Western Oregon University</h4>
                    <h6>-- For classes: CS 460: Software Engineering I, CS461: Software Engineering II, CS462: Software Engineering III</h6>
                </div>
            </div>
            <div class="row my-3 justify-context-left">
                <div class="col-12 text-white fancy">
                    <h4>Team Members:</h4>
                    <h6>- Tommy Segovia: https://github.com/TommySegovia/CS461-Group-Repository</h6>
                    <h6>- Patrick Iannotti: https://github.com/Bentoboxing/CS461-Patrick-Repo</h6>
                </div>
            </div>
        </div>
    </div>
</body>
