@{
    ViewData["Title"] = "Home Page";
}

<body id="index-body">
    <div class="text-center">
        <h1 class="display-4 text-white welcome">Reach your Peak</h1>
        <h1 class="text-white welcome-text"> Log your strengths, find your weaknesses, discover new climbing vistas, and share your adventures. Whether a newcomer or veteran climber, all are welcome on this community's journey for self-improvement and discovery.</h1>
    </div>
</body>

